
// fonts family
$primary-font : "Open Sans";

//font colors
$color-white: #ffffff;
$color-black: #212121;
$color-dark: #353535;
$color-light: #f4f4f4;
$color-blue : #15AAC5;



$button-width: 112px;
$color-box-1: #15AAC5;//green
$color-text-light: #F1F3F1;//light-gray



//font weights
$weight-light : 400;
$weight-mid : 600;
$weight-heavy : 800;

// opacity
$opacity-light : 0.3;
$opacity-mid : 0.55;
$opacity-heavy : 0.75;
$opacity-full : 1;


// z-index

$z-index-top : 100;