.abus {
  &-container {
    padding: 0 4rem;
  }
  &-abt {
    margin-top: 6rem;
  }

  &-header {
    @include header-main();
  }

  &-main {
    margin-top: 4rem;
    &-data {
      margin-top: 4rem;
      @include Header-text-4();
      padding-bottom: 4rem;
    }

    &-img {
      border-radius: 0.5rem;
      box-shadow: 0 0 0.65rem 0 rgba(33, 42, 57, 0.15);
      margin-bottom: 28rem;
      @include max-ht-wd($ht: 26.37rem, $wd: 32.56rem);
    }
  }

  &-right {
    &-head {
      @include Header-text-2();
      color: $color-blue;
    }

    &-data {
      margin-top: 1rem;
      text-align: justify;
      @include disc-text();
    }
  }

  &-bottom {
    margin-top: 4rem;
    height: 20rem;
  }
}
