@import "./variables.scss";
@import "./styles.scss";

@mixin div-box() {
  display: inline-block;
  width: 48%;
  min-height: 16rem;
  height: max-content;
}

.abt {
  font-family: $primary-font;
  margin-top: 10px;

  &-header {
    @include header-main();
  }

  &-dt {
    margin-top: 3rem;
    &-vdo {
      @include div-box();
      &-vd {
        @include max-ht-wd($ht: 22.598125rem, $wd: 33.7975rem);
        z-index: 2;
        left: 2rem;
        position: absolute;
        min-height: 18.75rem;
      }
      &-vd iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
      &-bg {
        &-wall {
          @include max-ht-wd($ht: 15.8575rem, $wd: 18.569375rem);
          position: absolute;
          animation: vdBgAnimation 4.5s infinite;
        }
        &-ball {
          @include max-ht-wd($ht: 9rem, $wd: 9rem);
          position: absolute;
          z-index: 1;
          left: 15rem;
          animation: vdBgBallAnimation 5s infinite;
        }
      }
    }

    &-txt {
      @include div-box();
      text-align: justify;

      &-head {
        @include Header-text();
      }
      &-dis {
        @include disc-text();
      }
    }
  }
}

@keyframes vdBgAnimation {
  0% {
    margin-top: 3rem;
  }
  50% {
    margin-top: 6rem;
  }
  100% {
    margin-top: 3rem;
  }
}

@keyframes vdBgBallAnimation {
  0% {
    margin-top: 12rem;
  }
  50% {
    margin-top: 16.25rem;
  }
  100% {
    margin-top: 12rem;
  }
}

.read-more-btn {
  padding: 0.75rem 5rem;
  margin: 0.625rem 0.25rem;
  color: $color-button-read-more;
  text-decoration: none;
  display: inline-block;

  top: 2.5rem;
  font-family: $primary-font;
  font-weight: $weight-mid;
  font-size: 1.125rem;
  cursor: hand;
  text-align: center;
  border: 1px solid $color-button-read-more;
  border-radius: 5px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

.read-more-btn:hover {
  border: 1px solid $color-button-read-more;
  color: $color-white !important;
  text-decoration: none;
}
.read-more-btn::before {
  content: "";
  text-decoration: none;
  width: 0%;
  height: 100%;
  display: block;
  background: $color-button-read-more;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.read-more-btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  text-decoration: none;
  background: #4ec9c9;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.read-more-btn:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.read-more-btn:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}
