@mixin div-box() {
  min-height: 16rem;
  height: max-content;
  position: relative;
  margin-top: 8rem;
}

.abt {
  margin-top: 6rem;
  font-family: $primary-font;
  margin-top: 10px;

  &-header {
    @include header-main();
  }

  &-dt {
    &-vdo {
      @include div-box();
      &-vd {
        @include max-ht-wd($ht: 22.598125rem, $wd: 33.7975rem);
        z-index: 2;
        left: 2rem;
        position: absolute;
        min-height: 18.75rem;
      }
      &-vd iframe {
        float: right;
        width: 92%;
        height: 100%;
        border: none;
      }
      &-bg {
        &-wall {
          @include max-ht-wd($ht: 15.8575rem, $wd: 18.569375rem);
          position: absolute;
          animation: vdBgAnimation 4.5s infinite;

          &-img {
            @include max-ht-wd($ht: 15.8575rem, $wd: 18.569375rem);
          }
        }
        &-ball {
          @include max-ht-wd($ht: 9rem, $wd: 9rem);
          position: absolute;
          z-index: 1;
          left: 15rem;
          animation: vdBgBallAnimation 5s infinite;
          &-img {
            @include max-ht-wd($ht: 9rem, $wd: 9rem);
          }
        }
      }
    }

    &-txt {
      @include div-box();
      text-align: justify;

      &-head {
        @include Header-text();
        color: $color-blue;
      }
      &-dis {
        @include disc-text();
      }
    }
  }
}

@keyframes vdBgAnimation {
  0% {
    margin-top: 3rem;
  }
  50% {
    margin-top: 6rem;
  }
  100% {
    margin-top: 3rem;
  }
}

@keyframes vdBgBallAnimation {
  0% {
    margin-top: 10rem;
  }
  50% {
    margin-top: 14rem;
  }
  100% {
    margin-top: 10rem;
  }
}
