.dwnld {
  min-height: 15rem;
  width: 100%;
  background-image: url(../images/background/bg-wall-big.svg);
  background-repeat: no-repeat;
  margin-top: 6rem;
  background-size: cover;

  &-main {
    padding-top: 2rem;

    &-header {
      @include Header-text-4();
      padding-top: 2.5rem;
    }

    &-links {
      cursor: pointer;
    }

    &-download {
      background: transparent;
      margin: 1.5rem 0rem;
      height: 2.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 2px 6px 0 rgba(33, 42, 57, 0.25);
      width: 8.9rem;
      cursor: pointer;
    }
  }
}

.vertical-divider {
  min-height: 11rem;
  border: 0.02rem solid $color-black;
  opacity: 0.5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vertical-divider {
    min-height: 0rem;
  }
  .dwnld {
    &-main {
      padding-top: 1rem;

      &-header {
        padding-top: 1.5rem;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .vertical-divider {
    min-height: 0rem;
  }

  .dwnld {
    &-main {
      padding-top: 1.5rem;

      &-header {
        padding-top: 2rem;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .vertical-divider {
    min-height: 11rem;
  }
  .dwnld {
    &-main {
      padding-top: 2rem;

      &-header {
        padding-top: 2.5rem;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dwnld {
    &-main {
      padding-top: 2rem;

      &-header {
        padding-top: 2.5rem;
      }
    }
  }
}
