.ftr {
  background-color: $color-footer-bg;
  min-height: 32rem;
  width: 100%;

  &-card {
    &-header {
      margin-top: 0.5rem;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid $color-white;
      a {
        color: $color-white;
        width: 100%;
        display: block;
        &:after {
          content: "+";
          font-size: 1.5rem;
          position: absolute;
          right: 2.5rem;
          transition: transform 0.25s ease-in-out;
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &[aria-expanded="true"] {
          &:after {
            transform: rotate(145deg);
          }
        }
      }
    }

    &-data {
      @include disc-text();
      color: $color-white;
      margin: 1rem 0rem 1rem 0rem !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &-span {
        @include disc-text();

        color: $color-white;
      }

      li {
        margin: 0.5rem 2rem;

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-white;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-main {
    padding-top: 3rem;

    &-logo {
      font-family: $primary-font !important;
      color: $color-white;
      @include max-ht-wd($ht: 47.24px, $wd: 162px);
    }

    &-btn {
      margin-right: 2rem;
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &-content {
    margin-top: 3rem;
    &-head {
      @include Header-text-3();
      color: $color-white;
      text-decoration: none;
    }

    &-data {
      @include disc-text();
      color: $color-white;
      margin: 1rem 0rem 1rem 0rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-data1 {
      @include disc-text();
      color: $color-white;
    }
  }

  &-download-options {
    height: 3rem;
    width: 10rem;
  }

  &-divider {
    border: 0.7px solid rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
  }

  &-foot {
    margin-top: 3rem;

    &-cp {
      padding-bottom: 2rem;
      color: $color-white;
      justify-content: center;
      align-items: center;

      i {
        color: $color-white;
        margin-right: 0.75rem;
      }
    }

    &-icons {
      padding-bottom: 2rem;
      .fa.fa-facebook-square {
        @include Social-media();

        &:hover {
          @include Social-media-hover($clr: #0e76a8);
        }
      }

      .fa.fa-twitter {
        @include Social-media();

        &:hover {
          @include Social-media-hover($clr: $color-blue);
        }
      }

      .fa.fa-instagram {
        @include Social-media();

        &:hover {
          @include Social-media-hover($clr: #ee2a7b);
        }
      }

      .fa.fa-youtube-play {
        @include Social-media();

        &:hover {
          @include Social-media-hover($clr: #e43618ee);
        }
      }

      .fa.fa-linkedin-square {
        @include Social-media();

        &:hover {
          @include Social-media-hover($clr: #0e76a8);
        }
      }
    }
  }
}

.footer {
  &-ft {
    padding-bottom: 2rem;
  }
  &-foot {
    color: $color-white;
    cursor: pointer;
  }
}

.footer-divider {
  color: $color-white;
  margin: 0rem 1rem;
}
