@mixin MoveBTN {
  height: 10rem;
  width: 2.5rem;
  background: $color-blue;
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery {
  margin-top: 6rem;

  &-header {
    @include header-main();
  }

  &-main {
    min-height: 25rem;
    margin-top: 4rem;
    width: 100%;
  }

  &-data {
    &-center {
      left: 0;
      z-index: -20;
      overflow: hidden;
      // min-height: 25rem;
    }

    &-slide {
      background-color: $color-white;
      height: 12rem;
      margin: 1rem 0rem;
      border-radius: 0.5rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    &-moveData {
      &-left {
        float: right;
        @include MoveBTN();
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        span::before {
          content: "\25c0";
          color: $color-white;
        }
      }
      &-right {
        @include MoveBTN();
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        span::before {
          content: "\25b6";
          color: $color-white;
        }
      }

      &-triangle {
        font-size: 1.4rem;
      }
    }
  }
}

.glry {
  &-sliderBTN {
    &-left {
      &-1 {
        animation: gallery-slider-out-1 1s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
      &-2 {
        animation: gallery-slider-out-2 1s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
    }
    &-right {
      &-1 {
        animation: gallery-slider-in-1 1s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
      &-2 {
        animation: gallery-slider-in-2 1s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
    }
  }
}

@keyframes gallery-slider-out-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes gallery-slider-out-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes gallery-slider-in-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes gallery-slider-in-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
