@mixin MoveBTN {
  height: 10rem;
  width: 2.5rem;
  background: $color-blue;
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery {
  margin-top: 6rem;

  &-header {
    @include header-main();
  }

  &-main {
    min-height: 25rem;
    margin-top: 4rem;
    width: 100%;
  }

  &-data {
    &-center {
      left: 0;
      z-index: -20;
      overflow: hidden;
      // min-height: 25rem;
    }

    &-slide {
      background-color: $color-white;
      height: 12rem;
      margin: 1rem 0rem;
      border-radius: 0.5rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &-moveData {
      &-left {
        float: right;
        @include MoveBTN();
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        span::before {
          content: "\25c0";
          color: $color-white;
        }
      }
      &-right {
        @include MoveBTN();
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        span::before {
          content: "\25b6";
          color: $color-white;
        }
      }

      &-triangle {
        font-size: 1.4rem;
      }
    }
  }
}

.gallery-popup {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.904);

  &-modal {
    // background-color: #fefefe;
    margin: auto;
    max-height: 90%;
    width: 85%;
    animation: animatetop 1s ease-in forwards;

    & > div {
      margin-top: -2rem !important;
    }

    &-img {
      margin-top: 0rem !important;
      height: 100%;
      max-height: 30rem;
      width: 100%;

      img {
        height: 100%;
        border-radius: 0.5rem;
        width: 80%;
        margin-left: 10%;
      }
    }
  }

  &-close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.glry {
  &-sliderBTN {
    &-left {
      &-1 {
        animation: gallery-slider-out-1 0.5s
          cubic-bezier(0.645, 0.045, 0.355, 1) both;
      }
      &-2 {
        animation: gallery-slider-out-2 0.5s
          cubic-bezier(0.645, 0.045, 0.355, 1) both;
      }
    }

    &-right {
      &-1 {
        animation: gallery-slider-in-1 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
      &-2 {
        animation: gallery-slider-in-2 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
    }

    &-fade {
      &-1 {
        animation: gallery-fade-out-1 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
      &-2 {
        animation: gallery-fade-out-2 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          both;
      }
    }
  }
}

@keyframes gallery-slider-out-1 {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes gallery-slider-out-2 {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes gallery-slider-in-1 {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes gallery-slider-in-2 {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes gallery-fade-out-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes gallery-fade-out-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animatetop {
  from {
    top: -300rem;
  }
  to {
    top: 0;
  }
}
