.htmp {
  margin-top: 12rem;
  &-header {
    @include header-main();
  }

  &-txt {
    margin-top: 2.5rem;
  }

  &-mp {
    margin-top: 3.75rem;
  }

  &-disc {
    @include disc-text();
  }

  &-map {
    @include max-ht-wd($ht: 34.47rem, $wd: 20.43rem);
  }

  &-data {
    @include max-ht-wd($ht: 33.81rem, $wd: 29rem);

    &-box {
      box-shadow: 0 2px 4px 0 rgba(33, 42, 57, 0.15);
      padding: 4rem 0px;
    }
    &-ht {
      @include Header-text-2();
      box-shadow: 0 2px 4px 0 rgba(33, 42, 57, 0.15);
      padding: 1rem 0rem;

      &-blue {
        @include header-main();
        color: $color-blue;
      }
      &-black {
        @include disc-text();
        padding-top: 2rem;
      }
    }
  }
}

.svg-htmp {
  a:hover {
    opacity: 0.6;
  }
}
