.journey {
  margin-top: 2rem;
  &-header {
    @include header-main();
    margin-top: 4rem;
  }

  &-data {
    margin-top: 2rem;
    height: 100%;
    max-height: 22.18rem;

    img {
      height: 100%;
    }
  }
}
