@mixin slider-button() {
  margin-top: 5rem;
  cursor: pointer;
  height: 8rem;
  width: 2.5rem;
  background-color: $color-blue;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rfl {
  margin-top: 6rem;
  min-height: 30rem;
  width: 100%;
  background-image: url(../images/background/bg-wall-big.svg);
  background-repeat: no-repeat;
  background-size: cover;
  &-textbox {
    margin-top: 5rem;

    &-header {
      @include header-main();
    }

    &-txt {
      @include disc-text();
      margin-top: 2rem;
      width: 60%;
    }

    &-reviews {
      margin-top: 7rem;
      background: $color-white !important;
      width: 14rem;
      height: 3rem;
      border-radius: 5px;
    }
  }

  &-slider {
    padding: 5rem 0rem;
    height: 100%;
    width: 100%;

    &-center {
      margin-top: 1rem;
      height: 100%;
      width: 80%;
    }

    &-data {
      @include max-ht-wd($ht: 17rem, $wd: 36rem);
      border-radius: 0.5rem;
      background: $color-white;
      display: flex;
      transform: rotateY(180deg);

      &-dt {
        padding: 0.5rem;
        p {
          margin: 0rem;
        }
      }

      &-move-left {
        &-1 {
          animation: flip-left-1 0.7s linear both;
        }
        &-2 {
          animation: flip-left-2 0.7s linear both;
        }
      }
      &-move-right {
        &-1 {
          animation: flip-right-1 0.7s linear both;
        }
        &-2 {
          animation: flip-right-2 0.7s linear both;
        }
      }

      &-img {
        margin: 1rem 0.3rem 0rem 0.7rem;
        height: 14rem;
        width: 14rem;
        border-radius: 0.5rem;
      }

      &-txt {
        &-head {
          font-size: 1.5rem;
          margin-top: 1rem !important;
          font-weight: $weight-mid + 100;
        }
        &-sub {
          opacity: 0.7;
        }
        &-dt {
          font-size: 1.125rem;
          margin-top: 1rem !important;
          line-height: 1.5rem;
          max-height: 9rem;
          height: 100%;
          overflow: hidden;
        }
      }
    }

    &-move {
      &-left {
        @include slider-button();
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        span::before {
          content: "\25c0";
          color: $color-white;
        }
      }

      &-right {
        @include slider-button();
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        span::before {
          content: "\25b6";
          color: $color-white;
        }
      }

      &-triangle {
        font-size: 1.4rem;
      }
    }
  }
}

.wht-btn-arrow {
  margin-left: 1rem;
}

@keyframes flip-left-1 {
  0% {
    transform: translateX(0) rotateY(0) scale(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: translateX(-50%) rotateY(90deg) scale(0.5);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateX(-100%) rotateY(180deg) scale(1);
    transform-origin: 100% 50%;
  }
}
@keyframes flip-left-2 {
  0% {
    transform: translateX(0) rotateY(0) scale(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: translateX(-50%) rotateY(90deg) scale(0.5);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateX(-100%) rotateY(180deg) scale(1);
    transform-origin: 100% 50%;
  }
}

@keyframes flip-right-1 {
  0% {
    transform: translateX(0) rotateY(0) scale(0);
    transform-origin: 100% 50%;
  }
  50% {
    transform: translateX(50%) rotateY(-90deg) scale(0.5);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateX(100%) rotateY(-180deg) scale(1);
    transform-origin: 0% 50%;
  }
}

@keyframes flip-right-2 {
  0% {
    transform: translateX(0) rotateY(0) scale(0);
    transform-origin: 100% 50%;
  }
  50% {
    transform: translateX(50%) rotateY(-90deg) scale(0.5);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateX(100%) rotateY(-180deg) scale(1);
    transform-origin: 0% 50%;
  }
}
