.rfl {
  min-height: 30rem;
  width: 100%;
  background-image: url(../images/bg-wall-big.svg);
  background-repeat: no-repeat;
  background-size: cover;
  &-textbox {
    margin-top: 5rem;

    &-header {
      @include header-main();
    }

    &-txt {
      @include disc-text();
      margin-top: 2rem;
      width: 60%;
    }

    &-reviews {
      margin-top: 7rem;
      background: $color-white !important;
      width: 14rem;
      height: 3rem;
      border-radius: 5px;
    }
  }

  &-slider {
    margin-top: 5rem;
    background-color: $color-black;
    height: 90%;
    width: 100%;
  }
}

.white-button-btn {
  height: 100%;
  width: 100%;
  padding: 0.5rem 2rem;
  color: $color-button-white;
  background-color: $color-white;
  text-decoration: none;
  display: inline-block;

  font-family: $primary-font;
  font-weight: $weight-mid;
  font-size: 1.125rem;
  cursor: hand;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: 5px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

.white-button-btn:hover {
  border: 1px solid $color-white;
  color: $color-white !important;
  text-decoration: none;
}
.white-button-btn::before {
  content: "";
  text-decoration: none;
  width: 0%;
  height: 100%;
  display: block;
  background: $color-button-white;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.white-button-btn::after {
  // content: "";
  width: 0%;
  height: 100%;
  display: block;
  text-decoration: none;
  background: #4ec9c9;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.white-button-btn:hover::before {
  opacity: 1;
  width: 116%;
}
.white-button-btn:hover::after {
  opacity: 1;
  width: 120%;
}

.wht-btn-arrow {
  margin-left: 1rem;
}
