.rfl {
  margin-top: 6rem;
  min-height: 30rem;
  width: 100%;
  background-image: url(../images/background/bg-wall-big.svg);
  background-repeat: no-repeat;
  background-size: cover;
  &-textbox {
    margin-top: 5rem;

    &-header {
      @include header-main();
    }

    &-txt {
      @include disc-text();
      margin-top: 2rem;
      width: 60%;
    }

    &-reviews {
      margin-top: 7rem;
      background: $color-white !important;
      width: 14rem;
      height: 3rem;
      border-radius: 5px;
    }
  }

  &-slider {
    padding: 5rem 0rem;
    height: 100%;
    width: 100%;

    &-center {
      margin-top: 1rem;
      height: 100%;
      width: 80%;
    }

    &-data {
      min-height: 17rem;
      @include max-ht-wd($ht: 17rem, $wd: 36rem);
      border-radius: 0.5rem;
      background: $color-white;
      display: flex;

      &-dt {
        padding: 0.5rem;

        p {
          margin: 0rem;
        }
      }

      &-move-left {
        &-1 {
          animation: slide-left-1 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        &-2 {
          animation: slide-left-2 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
      }
      &-move-right {
        &-1 {
          animation: slide-right-1 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        }
        &-2 {
          animation: slide-right-2 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        }
      }

      &-focus {
        &-1 {
          animation: focus-in-expand-1 0.7s ease-in both;
        }
        &-2 {
          animation: focus-in-expand-2 0.7s ease-in both;
        }
      }

      &-img {
        margin: 1rem 0.3rem 0rem 0.7rem;
        height: 14rem;
        width: 14rem;
        border-radius: 0.5rem;
      }

      &-txt {
        &-head {
          font-size: 1.5rem;
          margin-top: 1rem !important;
          font-weight: $weight-mid + 100;
        }
        &-sub {
          opacity: 0.7;
        }
        &-tx {
          font-size: 1.125rem;
          margin-top: 1rem !important;
          line-height: 1.5rem;
          max-height: 9rem;
          height: 100%;
          overflow: hidden;
        }
      }
    }

    &-move {
      &-left {
        @include slider-button();
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        span::before {
          content: "\25c0";
          color: $color-white;
        }
      }

      &-right {
        @include slider-button();
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        span::before {
          content: "\25b6";
          color: $color-white;
        }
      }

      &-triangle {
        font-size: 1.4rem;
      }
    }
  }
}

.wht-btn-arrow {
  margin-left: 1rem;
}
@keyframes slide-left-1 {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-left-2 {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-right-1 {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-2 {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes focus-in-expand-1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes focus-in-expand-2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
