@import "./variables.scss";

@mixin header-main() {
  font-size: $head-text;
  font-family: $primary-font;
  font-weight: $weight-mid;
  line-height: $head-line-height;
  margin-top: $head-margin-top;
}

@mixin max-ht-wd($ht, $wd) {
  max-width: $wd;
  max-height: $ht;
  height: 100%;
  width: 100%;
}

@mixin Header-text() {
  font-family: $primary-font;
  color: $color-text-head;
  font-size: $size-dis-head;
  font-weight: $weight-mid + 100;
}

@mixin Header-text-2() {
  font-family: $primary-font;
  color: $color-black;
  font-size: $size-dis-head;
  font-weight: $weight-mid;
}

@mixin disc-text() {
  font-family: $primary-font;
  color: $color-text-dis;
  font-size: $size-dis-txt;
  font-weight: $weight-light;
}
