// fonts family
$primary-font: "Open Sans";

$primary-text-color: #212a39;

// head text
$head-text: 38px;
$head-line-height: 46px;
$head-margin-top: 90px;

//font colors
$color-white: #ffffff;
$color-black: #212121;
$color-dark: #353535;
$color-light: #f4f4f4;
$color-blue: #15aac5;
$color-text-head: #15aac5;
$color-text-dis: #212a39;

$color-button-read-more: #15aac5;

$button-width: 112px;
$color-box-1: #15aac5; //green
$color-text-light: #f1f3f1; //light-gray

//font weights
$weight-light: 400;
$weight-mid: 600;
$weight-heavy: 800;

// opacity
$opacity-light: 0.3;
$opacity-mid: 0.55;
$opacity-heavy: 0.75;
$opacity-full: 1;

// z-index
$z-index-top: 100;

// partner card
$partner-card-height: 100%;
$partner-card-width: 100%;

//font-size
$size-dis-txt: 16px;
$size-dis-head: 24px;
