@import '../../../constants/variables.scss';
@import '../../../App.scss';

.nvbr {
  position: fixed !important;
  width: 100%;
  z-index: 980;
  background-color: $color-white;
  &-container {
    display: flex;
    flex-direction: row;
    height: 80px;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }

  &-logo {
    font-family: inherit;
    @include max-ht-wd($ht : 47.24px , $wd : 162px);
  }

  &-menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: flex-end;
    align-items: center;
    // margin: 2rem 0;
  }

  &-link {
    font-weight: $weight-mid;
    opacity: $opacity-heavy;
    font-size: 1.1rem;
    padding: 1.5rem 1.5rem;
    color: $color-dark;
    margin-right: 1rem;
    transition: all 0.3s ease-out;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}


// login button styling

@mixin link-style($color) {
	text-decoration: none;
	font-family: $primary-font;
	color: $color;
	text-align: center;
}

	
.btn-main {
    color : white;
	&:link {
        display: inline-block;
        padding: 0.7rem 1rem;
        margin : 0.4rem 1rem 0rem 1rem;
	    border-radius: 0.3rem;
	    width: $button-width;
	@include link-style($color-white);
		background-color: $color-box-1;
		transition: .3s;
	}
	
	&:hover {
		background-color: darken($color-box-1, 7%);
		color: darken($color-text-light, 9%);
		box-shadow: 0 2px 6px 0 rgba(33, 42, 57, 0.25);
	}
}


@media only screen and(max-width: 700px) {
  .nav {
    .container {
      display: flex;
      flex-direction: column;
    }
    
    &-menu {
      margin-top: 2rem;
    }
  }
}
